main {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto) 1fr;
}

h1 {
  grid-column: 2/5;
  padding: 1em 2em;
  background-color: lightblue;
  color: white;
}

h3 {
  font-weight: normal;
}

form {
  grid-column: 2/5;
  justify-self: center;
}

label,
input {
  font-size: 1.2em;
}

#subscribe {
  grid-column: 3/4;
  padding-top: 1.5em;
  writing-mode: vertical-rl;
}
